body {
    margin: 0;
    padding: 0;
    background-color: #efeee7;
    font-family: Georgia, "Times New Roman", Times, serif;
    color: #333333;
}

header {
    background-color: #333333;
    padding: 20px;
    text-align: center;
}

header h1 {
    color: #eee;
    font-size: 24px;
    margin: 0;
}

.container {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

section {
    margin-bottom: 20px;
}

#main-bio,
#contact-info,
#bio-image {
    float: left;
    width: calc(100% / 3 - 10px);
    margin-right: 20px;
}

#main-bio {
    clear: both;
    margin-bottom: 20px;
}

#bio-image img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
}

@media (max-width: 768px) {
    #main-bio,
    #contact-info,
    #bio-image {
        width: 100%;
        float: none;
        margin-right: 0;
    }
}
